<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>クソ店舗サイト</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Metamorphous'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'>
    </head>
  <body>
    <div class='container'>
      <a href="{% url 'tenpo:index' %}"><h1>Title</h1></a>
      <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'tenpo:index' %}">トップ</a>
        </li>
        <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'tenpo:tenpo' %}">店舗</a>
        </li>
        <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'tenpo:rireki' %}">履歴</a>
        </li>
        <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'tenpo:favorite' %}">お気に入り</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'account:logout' %}">ログアウト</a>
        </li>
        <li class="nav-item">
        {% else %}
          <a class="nav-item nav-link" href="{% url 'account:create' %}">ユーザ登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'account:login' %}">ログイン</a>
        </li>
        {% endif %}
      </ul>
      {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
