{% extends 'tenpo/base.html' %}

{% block content %}
	<div class='container'>
		<div class="card-group">
			{% for tenpo in object_list %}
				<div class="col-sm-12">
					<div class="card border-primary rounded mb-3">
						<div class="card-header border-primary">
							<p class="card-text">登録者：{{ tenpo.favorite_user.username }}</p>
						</div>
						<div class="card-body border-primary">
							<p class="card-text">店舗名：{{ tenpo.favorite_tenpo.tenpo_name }}</p>
							<p class="card-text">カテゴリ：{{ tenpo.favorite_tenpo.tenpo_genre }}</p>
							<p class="card-text">住所：{{ tenpo.favorite_tenpo.tenpo_address }}</p>
							<p class="card-text">電話番号：{{ tenpo.favorite_tenpo.tenpo_phone_number }}</p>
							<p class="card-text">PR文：{{ tenpo.favorite_tenpo.tenpo_pr_message }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
