{% extends "tenpo/base.html" %}

{% block content %}
<div class="container">
  <div class="card-group">
    <div class="card-block">
    <form action="{% url 'account:create' %}" method="POST">
      <div class="form-group">
        {{ form.username }}
        {{ form.username.errors }}
      </div>
      <div class="form-group">
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>
      <div class="form-group">
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>
      {% csrf_token %}
      <button type="submit" class="btn btn-lg btn-block btn-outline-info">会員登録</button>
    </div>
    </div>
  </form>
</div>
{% endblock %}
