{% extends "tenpo/base.html" %}

{% block content %}
<div class="container">
  <div class="center">
    <h1>ユーザ情報</h1>
    <p class="lead">ログイン中のユーザデータを表示します</p>
  </div>
 
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>名前・説明</th>
        <th>templateでの呼び出し方</th>
        <th>ログインユーザのデータ</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ユーザ名</td>
        <td>{% verbatim %} {{ user.username }} {% endverbatim %} </td>
        <td>{{ user.username }}</td>
        <td>必須</td>
      </tr>
      <tr>
        <td>adminサイトにアクセスできるか</td>
        <td>{% verbatim %} {{ user.is_staff }} {% endverbatim %} </td>
        <td>{{ user.is_staff }}</td>
        <td>デフォルトはFalse</td>
      </tr>
      <tr>
        <td>アカウントが有効か（ログインできるか）</td>
        <td>{% verbatim %} {{ user.is_active }} {% endverbatim %} </td>
        <td>{{ user.is_active }}</td>
        <td>デフォルトはTrue</td>
      </tr>
    </tbody>
  </table>
 
</div><!-- /.container -->
{% endblock %}
 